* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  background-color: bisque;
  width: 100%;
 /*  position: absolute;
  margin: auto; */
  margin: 25px;
  padding: 25px;
  border: 1px solid #fff;
  text-align: center;
}
.card {
  max-width: 100%;
  background-color: bisque;
  width: 100%;
 /*  position: absolute;
  margin: auto; */
  margin: 25px;
  padding: 25px;
  border: 1px solid #fff;
  text-align: center;
}
